/* **************
    Layout
************** */  
.project__container {
    padding-bottom: 8rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
    max-width: var(--max-width);  
    // color: inherit;
    text-align: left;
    position: relative;
    z-index: 1;
} 

.row__bigSmall {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 1rem;
    margin-bottom: 1rem;

    @media screen and (max-width: 1068px) {
        grid-template-columns: 50% 50% !important;
    }

    
    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr !important;
    }

}
.row__smallBig {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1rem;
    margin-bottom: 1rem;

    @media screen and (max-width: 1068px) {
        grid-template-columns: 50% 50% !important;
    }

    
    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr !important;
    }
}

/* **************
    Image
************** */   
.project__image {
    width: 100%;
    // min-height: 800px;
    // min-height: clamp(50vw, 25vw, 800px);
    min-height: 500px;
    position: relative;
    

    // border: 2px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(
        180deg, 
        rgba(255, 255, 255, 0.50) 0%, 
        rgba(255, 254, 251, 0.50) 100%);
    backdrop-filter: blur(16px);
    overflow: hidden;

    @media screen and (max-width: 768px) {
        min-height: clamp(75vw, 25vw, 800px);
    }
    
    @media screen and (min-width: 1700px) {
        min-height: clamp(50vh, 25vw, 800px) !important;
    }

    
    /* **************
    Caption
    ************** */
    &:hover &__caption {
        opacity: 1;
    }

    &__caption {
        z-index: 1;
        margin: 1rem;
        border-radius: 0.5rem;
        background: rgb(80 80 80 / 33%);
        color: white;
        padding: 6px 12px;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        opacity: 0;
        transition: opacity ease-in-out .5s;
        z-index: 1;

        // &:hover {
        //     opacity: 1;
        // }


        svg {
            fill: white;
            margin-right: .5rem;
        }
    }

    &__imageContainer {
        width: 100%;
        height: 100%;

        img {
            object-fit: contain;
        }
    }
}  

/* **************
    Text
************** */
.indentedText {
    padding-bottom: 2rem;
    padding-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
    max-width: var(--max-width);  


    &__container {
        margin-left: auto;
        width: 60%;
    
        @media screen and (max-width: 768px) {
            width: 75%;
        }
        @media screen and (max-width: 420px) {
            width: 100%;
        }    
    }

    h6 {
        margin-bottom: 1rem;
        font-weight: bold;
        // font-size: .75rem;
        font-size: 1.125rem;

    }

    // h2 {
    // }
    
    p {
        font-size: clamp(1rem, 2.25vw, 1.5rem);
        line-height: 1.2;
        margin-bottom: 2rem;
        display: block;

        @media screen and (max-width: 768px) {
            font-size: 1rem;
        }

        // > div {
        //     overflow-y: hidden !important;
        //     // background: white;
        // }
    }
    // > div {
    //     display: grid;
    //     grid-template-columns: 1fr 1fr;
    //     gap: 3rem;

    //     @media screen and (max-width: 768px) {
    //         grid-template-columns: 1fr;
    //     }

    // }
}

