.main {
    padding-top: 2rem;
    
}

.passwordDialog {
    // padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // text-align: center;
    overflow: hidden;
    // background: linear-gradient(
    //     180deg, 
    //     var(--colour-bg) 50%, 
    //     var(--colour-text) 100%
    // );
    background: var(--colour-bg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    padding: 1.5rem;



    &__content {
        color: inherit;
        max-width: 428px;
        width: 100%;
        transform: translateY(-33%);

        a { 
            // text-decoration: underline;
            font-weight: bold;
            transition: opacity 0.2s ease-in-out;

            &:hover {
                opacity: 0.5;
            }
        }

        h1 {
            margin-bottom: .5rem;
            font-size: 2.5rem;
            // font-weight: bold !important;

            > div {
                overflow-y: hidden;
            }
        }
        p {
            margin-bottom: 1.5rem;
            
            // > div {
            //     overflow-y: hidden;
            //     // display: inline-block;
            // }
        }
    }

    &__form {
        display: flex;
        gap: 1rem;
        justify-content: center;
        transform: translateY(-33%);
        width: 100%;
        max-width: 428px;

        @media screen and (max-width: 640px) {
            // width: 100%;
            flex-direction: column;
            gap: 0.5rem;
        }


        label {
            color: inherit;
        }

        input {
            min-height: 4rem;
            border-radius: .5rem;
            background: white;
            border: none;
            color: var(--colour-formText);
            padding: 1rem;
            // text-align: center;
            // min-width: 100%;
            flex-grow: 1;

            &::placeholder {
                color: rgba(0,0,0,0.3);
            }

        }
        
        button {
            cursor: pointer;
            color: var(--colour-bg) !important;
            min-height: 4rem;
            border-radius: .5rem;
            background: var(--colour-text);
            border: none;
            color: var(--colour-text);
            padding: 1rem 2.5rem;
            text-align: center;

            transition: opacity 0.2s ease-in-out;

            &:hover {
                opacity: 0.5;
            }

        }
    }
}

.incorrectPassword {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 2rem;
    margin-top: 1rem;

    a {
        text-decoration: underline;
        transition: opacity 0.2s ease-in-out;

        &:hover {
            opacity: 0.5;
        }
    }
}

.footerContainer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
    padding: 2rem 4rem;

    @media screen and (max-width: 768px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    

}