.showcaseList {
    margin-right: auto;
    margin-left: auto;
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
    max-width: var(--max-width);
    padding-top: 8rem;
    padding-bottom: 8rem;
    cursor: pointer;

    &__legend {
        display: grid;
        grid-template-columns: 1.9fr 1fr;
        padding-top: 1rem;
        padding-bottom: 1rem;

        @media screen and (max-width: 1000px) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 0.5rem 1rem;
        }
        
        @media screen and (max-width: 768px) {
            display: none;
        }
        
        h2 {
            font-size: 1rem;
        }
    }
}