.footer {
    padding-bottom: 1rem;
    padding-top: 1rem;
    
    // margin-top: -10vh;
    color: var(--colour-text);
    // background: linear-gradient(
    //     180deg, 
    //     var(--colour-bg) 50%, 
    //     var(--colour-text) 100%
    // );
    border-top: 1px solid var(--colour-text);
    border-bottom: 4px solid var(--colour-text);
    
    
    .container {
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        max-width: var(--max-width);
        width: 100%;
        padding-left: var(--page-padding);
        padding-right: var(--page-padding);
            
    }

    .content {
        flex: 1;
        padding-top: 8rem;
        

        h2 {
            // font-size: 2.5rem;
            font-size: clamp(1.5rem, 2.5vw, 3rem);
            line-height: 1.2;
    
            > div {
                overflow-y: hidden !important;
            }
    
            @media screen and (max-width: 1068px) {
                font-size: clamp(1.5rem, 3.5vw, 3rem);
            }
            @media screen and (max-width: 768px) {
                font-size: clamp(1.5rem, 5.5vw, 3rem);
            }
        }
    

    }
    
    .contactLinks {
        display: flex;
        gap: 0.5rem;
        padding-top: 1.5rem;
        flex-wrap: wrap;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: baseline;
            padding-bottom: 5rem;    
        }


        li {
            will-change: opacity, transform;
            border-radius: 100px;
            border: 1px solid var(--colour-text);
            padding: 0.5rem 1rem;

            font-size: 1.25rem;
            display: flex;
            align-items: center;
            gap: .25rem;
            transition: .5s ease-in-out opacity;
            
            @media screen and (max-width: 768px) {
                font-size: 12px;
                // border: 1px solid var(--colour-text);
                padding: 0.25rem 0.66rem;
                // border-radius: 32px;
            }
    
    

            &:hover {
                opacity: 0.5;
            }

            svg {
                fill: var(--colour-text);
            }
        }
    }

    
    &__meta {
        display: flex;
        justify-content: space-between;
        font-size: .75rem !important;
        align-items: center;
        
        // color: var(--colour-bg);      
        
        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: baseline;
        }

        &__location {
            display: flex;
            gap: .25rem;
            align-items: center;
            svg {
                width: 1rem;
                height: 1rem;
                fill: var(--colour-text);
            }
        }
        
        &__designed {
            color: var(--colour-text);       
            
            .me {
                text-decoration: underline;
            }
        }
        ul {
            a {
                font-size: 0.75rem;
            }
        }

        .navigation__link__dot {
            color: var(--colour-text) !important;
        }
    }
}